@import "mixins";

#main-menu {
  position: absolute;
  top: 0;
  text-align: center;

  background-color: #000;

  li {
    a {
      color: #ddd;
      font-weight: 300;

      padding: 13px 20px;
      background: none;
      &:hover {
      }
    }
    &.pure-menu-selected {
      a {
        color: #fff;
      }
    }
    &#menu-logo {
      overflow: hidden;
      a {
        padding-top: 5px;
        padding-bottom: 5px;
        img {
          height: 40px;
          display: block;
        }
      }
    }
  }

  &.fixed {
    position: fixed;
  }
}

#main-container {
  @include bp(sm) {
    padding: 0px 20px;
  }
}

#welcome-logo {
  margin-top: 26px;

  img {
    margin: auto;
    width: 70%;
  }
}

html, body, .full-height {
  @include full-height;
}
