@import "mixins";

#main-container {
  @include bp(sm) {
    padding: 0px 20px;
  }
}

#welcome-logo {
  margin-top: 26px;

  img {
    margin: auto;
    width: 70%;
  }
}

html, body, .full-height {
  @include full-height;
}
