$sm-min: 35.5em;
$md-min: 48em;
$full-height-min: 28em; // (~ 450px)

@mixin bp($point) {
  @if $point == xs {
    @media (max-width: $sm-min)  { @content; }
  }
  @else if $point == sm {
    @media (max-width: $md-min) { @content; }
  }
}

@mixin vertical-align {
  @media (min-width: $sm-min) and (min-height: $full-height-min) {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@mixin full-height {
  @media (min-height: $full-height-min) {
    height: 100%;
  }
}
