@import "layout";

$navbar-background-color:  #fff;

nav#monarcheurasia-navbar {

  $navbar-link-weight:       300;
  $navbar-link-color:        $gray;
  $navbar-link-active-color: $orange;

  background-color:   $navbar-background-color;
  border-bottom:      1px $gray solid;

  button.navbar-toggle {
    border-color: $navbar-link-color;
    span {
      background-color: $navbar-link-color;
    }
    &:hover {
      background-color: $navbar-background-color;
    }
  }

  .navbar-brand img {
    height: 30px;
    margin-top: -5px;
  }

  .navbar-nav li {
    a {
      color:       $gray;
      font-weight: $navbar-link-weight;
    }
    &.active {
      a {
        color:            $navbar-link-active-color;
        background-color: $navbar-background-color;
      }
    }
  }
}

nav#monarcheurasia-footer {
  background-color:   $navbar-background-color;
  border-top:         1px $gray solid;
  min-height:         30px;

  div  { margin: 0.7rem 0; }

  .accent {
    color: $orange;
    font-weight: 500;
  }
  .values {
    color: $gray-light;
    font-weight: 300;
  }
}
