#our_team {
  height: initial;

  div.member {
    text-align: center;
    margin-bottom: 20px;

    img {
      width: 70%;
      max-width: 175px;
    }

    .name, .position {
      display: block;
    }
    .name {
      padding-top: 9px;
    }
    .position {
      padding-top: 3px;
      font-size: 14px;
      color: gray;
    }

  }

  .break-row {
    width: 100%;
    margin: 10px 0px;
  }

}
