<div class="row segment-item" id="<%= section %>">
  <div class="col-xs-12">
    <h2><%= t("#{category}.#{section}.header") %></h2>
  </div>

  <div class="col-xs-12 col-sm-8">
    <div class="text-justify" >
      <%= t("#{category}.#{section}.content_html") %>
    </div>
  </div>

  <div class="hidden-xs col-sm-4">
    <%= image_tag("#{category}/#{section}.png",
                  class: "img-rounded img-responsive") %>
  </div>
</div>

