<div class="segment segments-overview">
  <div class="vertical-align">
    <h1><%= t("nav.#{category}") %></h1>

    <div class="pure-g">
      <% t(category).keys.each do |section| %>
          <a href="#<%= section %>" class="pure-u-1 pure-u-sm-1-4">
            <div class="image-wrapper">
              <%= image_tag("#{category}/#{section}.png") %>
            </div>

            <h2><%= t("#{category}.#{section}.header") %></h2>
          </a>
      <% end %>
    </div>
  </div>
</div>
