<div class="row segments-overview">
  <h1 class="text-center"><%= t("nav.#{category}") %></h1>

  <% t(category).keys.each_with_index do |section, index| %>
    <div class="col-xs-12 col-sm-3">
      <a href="#<%= section %>">
        <%= image_tag("#{category}/#{section}.png",
                      class: "hidden-xs img-responsive img-rounded") %>

        <span class="text-center"><%= t("#{category}.#{section}.header") %></span>
      </a>
    </div>
  <% end %>
</div>

