---
title: Careers
---

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center"><%= t("careers.header") %></h1>
      </div>

      <div class="col-xs-12 col-sm-8">
        <div class="text-justify" >
          <%= t("careers.content_html") %>
        </div>

        <a class="btn btn-default"
           href="mailto:careers@monarcheurasia.com">
           <span class="glyphicon glyphicon-envelope"></span>
          <%= t('careers.careers_button') %>
        </a>
      </div>
      <div class="hidden-xs col-sm-4">
        <%= image_tag('careers.jpeg', class: "img-rounded img-responsive") %>
      </div>
    </div>
  </div>
</div>

