---
title: Careers
---

<div class="pure-u-1 pure-u-md-1-3"></div>
<div class="pure-u-1 pure-u-md-1-3">

  <div class="justified segment">

    <h2><%= t('careers.header') %></h2>
    <%= t('careers.content_html') %>

    <a class="pure-button" href="mailto:jobs@aosgroup.kz">
      Contact us for career opportunities
    </a>
  </div>

</div>
