---
title: AOS Group Kazakhstan
---

<div>
  <h1>AOS Group Kazakhstan</h1>
  <p>We are working hard on building our new website, we will be back in a few days.</p>
  <p>Contact us via <a href="mailto:inquiries@aosgroup.kz"> email</a></p>
</div>
