---
title: Welcome
---

<!-- GRID START -->
<div id="stripe-container" class="pure-g">

  <div id="stripe-content" class="pure-u-1">

    <div id="stripe-inner-container">
      <%= image_tag('aos_group_logo.png') %>
      <h1><%= t('index.header') %></h1>
      <%= t('index.content_html') %>
    </div>

  </div>

</div>
<!-- GRID END -->
