<div id="main-menu" class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>

    <li id="menu-logo">
      <%= link_to(image_tag('aos-group-logo.png'), '/')  %>
    </li>

    <% t('nav').keys[1..-1].each do |item| %>

      <li class="<%= active_class("#{item}.html") %>">

      <%= link_to t("nav.#{item}"), "/#{item}" %>

      </li>

    <% end %>
  </ul>
</div>
