<nav class="navbar navbar-default navbar-fixed-top" id="monarcheurasia-navbar">
  <div class="container">
    <div class="col-md-2"></div>

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#monarcheurasia-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <% link_to i18n_path(''), class: 'navbar-brand' do %>
        <%= image_tag 'monarch_eurasia_logo_nav.png', alt: 'Navbar logo' %>
      <% end %>
    </div>

    <!-- Collect the nav links for toggling -->
    <div class="collapse navbar-collapse" id="monarcheurasia-navbar-collapse">
      <ul class="nav navbar-nav">
        <% t('nav').keys[1..-1].each do |item| %>
          <li class="<%= active_class("#{item}.html") %>">
            <%= link_to t("nav.#{item}"), i18n_path(item) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
